.tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
        border: 2px solid lightblue;
    }
}

.icon {
    margin-right: 16px,
}

.cell {
    min-width: 100px;
    max-width: 160px;
    max-height: 45px;
    overflow: hidden;
    padding: 10px !important;
    position: relative;

    &Typo {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}