.tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 16px,
}

.cell {
    min-width: 100px;
    padding: 10px!important;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}